<div class="game">
  <div class="game-selector">
    <mat-select
      placeholder="Select a game"
      [(value)]="cardsType"
      (selectionChange)="setCardsType($event)"
    >
      <mat-option *ngFor="let type of cardsTypes" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </div>
  <div class="game-score">
    <span class="game-score-number">
      {{ (score$ | async)?.player1 || 0 }} :
      {{ (score$ | async)?.player2 || 0 }}
    </span>
    <p class="game-score-wins">
      <span *ngIf="(wins$ | async) === 0">Draw</span>
      <span *ngIf="wins$ | async">Player {{ wins$ | async }} wins</span>
    </p>
  </div>
  <div class="game-container">
    <app-game-card
      [isWinner]="(wins$ | async) === 1"
      [cardType]="cardsType"
      [cardData]="(cards$ | async)?.player1 || null"
    ></app-game-card>
    <app-game-card
      [isWinner]="(wins$ | async) === 2"
      [cardType]="cardsType"
      [cardData]="(cards$ | async)?.player2 || null"
    ></app-game-card>
  </div>
  <div class="game-actions">
    <button class="game-actions-new" mat-button (click)="newGame()">
      New game
    </button>
    <button class="game-actions-next" mat-flat-button (click)="nextTurn()">
      Next turn
    </button>
  </div>
</div>
