.game {
  &-score {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;

    &-number {
      display: block;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    &-wins {
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-container {
    display: flex;
    gap: 1rem;
    width: 90vw;
    max-width: 1000px;
    justify-content: center;
    margin: 0 auto;
  }

  &-actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
  }
}
